.wrapper{
    max-width: 1250px;
    margin: 0 auto;
}
@font-face {
    font-family: 'newsreader';
    src: url(/font/Newsreader_36pt-Regular.ttf);
}
@font-face {
    font-family: 'newsreader_medium';
    src: url(/font/Newsreader_14pt-Medium.ttf);
}
@font-face {
    font-family: 'inter';
    src: url(/font/Inter-VariableFont_opsz,wght.ttf);
}
@font-face {
    font-family: 'inter_semi';
    src: url(/font/Inter_18pt-SemiBoldItalic.ttf);
}
header{
    display: flex;
    font-family: 'inter';
    justify-content: space-between;
    text-decoration: none;
    gap: 30px;
    cursor: pointer;
    margin-top: 20px;
}
header div a{
    color: #000000;
    text-decoration: none;
}
header div a:hover{
    text-decoration: underline;
}
.first_header_element{
    font-family: 'newsreader';
    font-size: 32px;
    color: #426b1f;;
}
.six_header_element *{
    background-color:#426b1f;;
    cursor: pointer;
    border: none;
    color: white !important;
    border-radius: 5px;
    font-size: 18px;
    padding: 10px 10px;
    /* position: relative;
    top: -10px; */
}
/* .six_header_element a{
    color: white;
} */
.center {
    display: flex;        
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: 'newsreader_medium';
    font-size: 32px;
}
.basket_change{
    display: flex;
    gap: 31px;
    margin-top: 40px;
}

.pro{
    /* display: flex; */
    overflow: hidden;
    border: 2px solid #e6e6e6;
    border-radius: 24px;
    background: #FAFAF5;
    max-width: 678px;
}

.pro_2{
    /* display: flex; */
    flex-direction: column;
    gap: 4px;
}

.product{
    font-family: 'inter';
    font-weight: bold;
    font-size: 20px;
    color: #000000;
    margin-top: 24px;
    margin-left: 24px;
}

.price{
    font-family: 'inter';
    font-size: 20px;
    font-weight: bold;
    color: #426B1F;
    margin-top: 4px;
    margin-left: 24px;
}

.total{
    font-family: 'inter';
    padding-top: 16px;
    font-family: 'inter';
    font-size: 16px;
    color: #6D6D6D;
    padding-bottom: 10px;
    margin-left: 24px;

}
.wrapper_2{
    max-width: 1440px;
    margin: 0 auto;
}

.center_3{
    display: flex;
    gap: 5px;
    height: 150px;
    width: 1440px;
    border-bottom: 2px solid #E6E6E6;
}

.center_3 h1{
    font-family: 'newsreader';
    font-size: 64px;
    font-weight: bold;
    color: #000000;
    margin-top: 56px;
}

.center_3 div{
    font-family: 'newsreader';
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-align: justify;
    margin-bottom: 50px;
}

.flex_last{
    display: flex;
    font-family: 'inter';
    gap: 8px;
    cursor: pointer;
    position: relative;
    top: 80px;
    left: 550px;
}

.lol{
    background-color:#426b1f;
    cursor: pointer;
    border: none;
    color: white !important;
    border-radius: 20px;
    font-size: 18px;
    padding: 10px 10px;
    font-family: 'inter';
    font-size: 16px;
}

.lol_2{
    cursor: pointer;
    border: none;
    color: black;
    border-radius: 20px;
    border: 2px solid black;
    font-size: 18px;
    padding: 10px 10px;
    font-family: 'inter';
    font-size: 16px;
}

.fresh{
    padding-top: 100px;
}